@import 'variables';

h3{
  color: $global-text-color;
}
.loading-text{
  color: #efeeee;
}
a{
  color: #337ab7;
  text-decoration: none;
  outline: none;
  &:hover{
    color: #23527c;
  }
}
body{
  background-color: #f9f9f9;
}

@import "responsive.scss";
