@import 'variables';

.input-group{
  position: relative;
  display: flex;
  display: -webkit-flex;
  width: 100%;

  input{
    display: block;
    width: 100%;
    padding: $search-padding;
    font-size: $search-font-size;
    color: $UI-text-color;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d2d1d1;
    border-radius: $border-radius;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    outline: none;

    &:hover{
      border-color: $hover-input-color;
    }
  }
  .input-group-btn{
    position: relative;
    vertical-align: middle;
    margin-left: -1px;
    z-index: 2;
    white-space: nowrap;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;

    .btn{
      display: inline-block;
      font-weight: normal;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      cursor: pointer;
      outline: none;
      border: 1px solid transparent;
      color: $UI-text-color;
      padding: $search-padding;
      font-size: $search-font-size;
      border-radius: $border-radius;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      background-color: #fff;
      border-color: #ccc;
      margin-left: 0;
      margin-right: 0;

      &:hover{
        border-color: $hover-input-color;
      }
    }
  }
}
