#video-display{
  margin: 10px 0 0;
  position: relative;

  #video-player{
    padding: 10px;
    border: 1px solid #d2d1d1;
    overflow: hidden;

    .videoWrapper {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden;
      max-width: 100%;

    }
    .videoWrapper iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
  }

  @keyframes fadeIn {
      0% {opacity: 0;}
      100% {opacity: 1;}
  }
  .fadeIn {
      animation-name: fadeIn;
  }

}
