#video-list{
  padding: 9px;
  border: 1px solid #d2d1d1;
  border-top: 0;
  text-align: center;

  .img-container{
    padding: 0 2px;
    cursor: pointer;
    display: inline-block;
    
    &:hover{
      opacity: 0.9;
    }

    img{
      width: 231px;
      height: 130px;
      object-fit: cover;
    }
  }
}
